body {
    background-color: rgb(19, 133, 108);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
iframe {
    width: 90%;
    height: 500px;
    border: none;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(13, 56, 134);
    margin-top: 50px;
}
h2 {
    text-align: center;
    font-size: 30px;
    color: rgb(148, 43, 17);
    margin-top: 50px;
}